*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

img{
    width: 100%;
}

:root{

    /* Pimary */

    --yellow: hsl(47, 88%, 63%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);


}